.fix-footer {
  
  // width: 100%;
  // bottom: 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 0.3rem 0rem;
}

.coracao {
  color: #ffad00;
}

.coracao:hover{
  color: #00b0b9;
}

.footer {
  margin-top: 1rem;
}