<nav class="navbar is-transparent " role="navigation" aria-label="main navigation">
  <div class="navbar-brand  is-boxed">
    <a class="navbar-item" href="/">
      <%= image_tag("brand.png") %>
    </a>

    <a role="button" id="navbar-burger-id" class="navbar-burger" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  
  <div id="navbar-menu-id" class="navbar-menu">
    <div class="navbar-end has-text-weight-bold">
      <% if current_user %>
        <a class="navbar-item has-text-centered" href="/campaigns">
          Campanhas
        </a>
        <a class="navbar-item has-text-centered" href="/users/edit">
          Perfil
        </a>
        <%= link_to('Sair', destroy_user_session_path, :method => :delete, :class => "navbar-item has-text-centered") %>
      <% else %>
        <a class="navbar-item has-text-centered" href="/users/sign_up">
          Criar Conta
        </a>
        <a class="navbar-item has-text-centered" href="/users/sign_in">
          Entrar
        </a>
      <% end %>
    </div>
  </div>
  
</nav>