<nav class="navbar is-transparent " role="navigation" aria-label="main navigation">
  <div class="navbar-brand  is-boxed">
    <a class="navbar-item" href="/">
      <img src="/assets/brand.png">
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  

  <div class="navbar-end is-hidden-touch has-text-weight-bold">
    <a class="navbar-item" href="#">
      Entrar
    </a>

    <a class="navbar-item" href="#">
      Criar Conta
    </a>
  </div>
  
</nav>