.c1 {
    background-color: rgb(250, 232, 192);
    text-align: justify;
    text-justify: inter-word;
    margin-right: 0;
}

.c2 {
    background-color: rgb(253, 222, 155);
    text-align: justify;
    text-justify: inter-word;
    margin-right: 0;
}

.c3 {
    background-color: #FFCD64;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 0;
    
}

.home-col {
  margin-top: 1rem;
}

.mt2{
  margin-top: 2rem;
}

.homebtn{
  justify-content: center;
  align-items: center;
}