.mt{
  margin-top: 0.8rem;
}

.icons, .botoes {
  justify-content: center;
  align-items: center;
}

.botoes {
  margin-top: 1.3rem;
}

.btnicon{
  margin-right: 1.3rem;
}

.disabled {
  color: rgb(231, 231, 231);
}

